<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check if Spam or Ham</title>
</head>
<body>
    <h1>Check if your message is Spam or Ham</h1>
    <h3>Enter a message from your chats.</h3>
    <form action='/' method="POST">
        <input type='text' name="text_123" placeholder="Message">
        <input type="submit">
    </form>
    <h3>Its a {{a}} message.</h3>
</body>
</html>